/*DASHBOARD RELATED*/



.dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    max-width: 100%;
    height: auto;
    padding: 8px;
    margin: 10px auto;
    box-sizing: border-box;
    background-color: #f2f6f9;
    box-shadow:0px 4px 8px rgba(194, 195, 200, 0.4);
}

.panel {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 4px 8px rgba(194, 195, 200, 0.4);
}

.sub-panel {
    width: 12rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(194, 195, 200, 0.4);
    background-color: #FFF;
    color: #173451;
    font-weight: bold;
    padding: 5px 8px;
    border-bottom: 1px solid #5897c9;
    border-radius: 4px
}
.sub-panel p{
    margin:0;
}

.sub-panel:last-of-type {
    width: 13rem;
}


.ncrStatus {
    grid-column: 1/-1;
    background-color: #FFF;
    box-shadow: 0px 4px 8px rgba(194, 195, 200, 0.4);
    border-radius: 6px;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    row-gap: 10px;
    color: #173451;
}

.wrapper {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.overTime {
    grid-column: 1/10;
    border-radius: 6px;
    grid-row: 2/6;
}

.bySuppliers {
    grid-column:  1/-1;
 border-radius: 6px;
    grid-row: 6/-1;
}
.partsNCR {
    grid-column: 10/-1;
    border-radius: 6px;
    grid-row: 2/6;
}
/*DASHBOARD RELATED*/

/*LOGIN RELATED*/
.wrapper-12-cols {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 10px;
    max-width: 100%;
    height: auto;
    padding: 8px;
    margin: 10px auto;
    box-sizing: border-box;
    background-color: #f2f6f9;
    box-shadow: 0px 4px 8px rgba(194, 195, 200, 0.4);
    
}

.left-panel {
    grid-column: 1/7;
    grid-row: 1/-1;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(194, 195, 200, 0.4);
    display:flex;
    flex-direction:column
}

.login{
    justify-self:center;
       
}

.right-panel {
    background-image: url("../testing.png");
    background-size: cover;
    grid-column: 7/-1;
    grid-row: 1/-1;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(194, 195, 200, 0.4);
    padding: 25px;
}


.right-panel h1
{
    font-size:1.5rem;
}

    .loginOptions form {
        display: flex;
        flex-direction: column;
    }


    .loginOptions {
        grid-column: 4/7;
        grid-row: 10/11;
    }

.externalLogin {
    grid-column: 5/8;
    grid-row: 11/12;
    display:flex;
    justify-content:center;
}

.row-menu {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    color: #173451;
}

.row-menu a 
{
        text-decoration: none;
        color: #173451;
 }

.ex-Login{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.row-menu-outline {
    display: flex;
    font-size: 1rem;
    justify-content: space-evenly;
    align-items: center;
    color: #173451;
    border: 1px solid #aeaeae46;
    border-radius: 3px;
    background-color: #f2f6f9;
    padding: 8px;
}

label p h1 {
    color: #173451;
}

p label a button {
    font-family: "Manrope", sans-serif;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: "Lexend", sans-serif;
    color: #173451;
}

/*MFA*/
#qrCode
{
    display:flex;
    justify-content:center;
}
.mfa-container {
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(194, 195, 200, 0.4);
}
.mfa-container label p h1 {
    color: #173451;
}
/*MFA*/
/*LOGIN RELATED*/