@using EntitiesLayer.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if(SignInManager.IsSignedIn(User))
    {
            <li class="nav-item">
        <a class="nav-link" href="#">@UserManager.GetUserName(User)</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOut">
            <button type="submit" class="btn nav-link">Log out</button>
        </form>
    </li>
    }
    else{

        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login
                <img src="/images/log_in.png" class="icon-log" />
            </a>
        </li>
    }

</ul>