@using EntitiesLayer.Models.ViewModels
@model ApplicationUser

<div class="row col-md-10 offset-mid-1">
    <h1 class="text-primary text-center pt-2"> Edit @Model.FirstName @Model.LastName</h1>
    <form method="post" asp-controller="User" asp-action="EditUser">
        <input asp-for="@Model.Id" hidden />
        <div class="border p-2 rounded">
            <p class="text-center">Create a new account</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LockoutEnabled" class="col-12"></label>
                <div class="col-md-12">
                    <input asp-for="LockoutEnabled" class="form-check" />
                    <span asp-validation-for="LockoutEnabled" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group pt-2">
                <div class="col-md-6 offset-md-3">
                    <button class="btn btn-success form-control">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

