@using EntitiesLayer.Models
@model EntitiesLayer.Models.NCRLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NCRLog</h4>
    <button id="print" class="btn btn-primary">Print</button>
    <hr />
    <section id="printarea">
        <div class="">

            <p><strong>Document No: </strong>OPS-00011</p>

            <div class="form-group mb-2">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" readonly />
            </div>

            <div class="accordion" id="qualityAccordion">

                <div class="accordion-Item">

                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h3 class="Accordion-Header" id="qualityHeading">Quality Assurance</h3>
                    </button>

                </div>

                <div id="collapseOne" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#qualityAccordion">
                    <div class="accordion-body">

                        <div class="row my-md-3">
                            <div class="form-group col-md-6">
                                <label asp-for="QualityPortion.ProcessApplicable" class="control-label"></label>
                                <select asp-for="QualityPortion.ProcessApplicable" class="form-control" disabled asp-items="@Html.GetEnumSelectList<ProcessApplicable>()"></select>
                            </div>
                        </div>


                        <div class="row my-md-3">

                            <div class="form-group col-md-12 col-lg-6 mb-lg-0 mb-md-3">
                                <label asp-for="QualityPortion.ProductID" class="control-label"></label>
                                <input asp-for="QualityPortion.Product.Summary" class="form-control" readonly/>
                            </div>

                            <div id="supplierOutput" class="form-group col-md-6 col-lg-2" style="margin-bottom: 0; margin-top:auto;">
                                <label asp-for="QualityPortion.Product.ProductNumber" class="control-label"></label>
                                <input asp-for="QualityPortion.Product.ProductNumber" class="form-control" readonly />
                            </div>

                            <div id="supplierOutput" class="form-group col-md-6 col-lg-4" style="margin-bottom: 0; margin-top:auto;">
                                <label asp-for="QualityPortion.Product.Supplier.SupplierName" class="control-label"></label>
                                <input asp-for="QualityPortion.Product.Supplier.SupplierName" class="form-control" readonly />
                            </div>
                        </div>





                        <div class="row my-md-3">

                            <div class="form-group col-md-4">
                                <label asp-for="QualityPortion.Quantity" class="control-label"></label>
                                <input asp-for="QualityPortion.Quantity" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="QualityPortion.QuantityDefective" class="control-label"></label>
                                <input asp-for="QualityPortion.QuantityDefective" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="QualityPortion.OrderNumber" class="control-label"></label>
                                <input asp-for="QualityPortion.OrderNumber" class="form-control" readonly/>
                            </div>
                        </div>



                        <div class="form-group">
                            <label asp-for="QualityPortion.DefectDescription" class="control-label"></label>
                            <textarea asp-for="QualityPortion.DefectDescription" class="form-control" rows="10" cols="50" style="resize: none;" readonly></textarea>
                        </div>

                        <div class="row my-md-3">
                            <div class="form-group col-md-4">
                                <label asp-for="QualityPortion.RepID" class="control-label"></label>
                                <input asp-for="QualityPortion.RepID" class="form-control" readonly="readonly" />
                            </div>
                            <div class="form-group col-md-4" style="margin-bottom: 0; margin-top:auto;">
                                <label asp-for="QualityPortion.Created" class="control-label"></label>
                                <input asp-for="QualityPortion.Created" type="date" class="form-control" readonly="readonly" />
                            </div>
                        </div>

                        <div class="form-group col-md-4 my-md-3">
                            <label class="control-label">Item Marked Nonconforming: </label>
                            <input type="checkbox" class="form-check-input" checked disabled="disabled" />
                        </div>

                        <div class="form-group col-md-4">
                            <div>
                                @foreach (var pic in Model.QualityPortion.qualityPictures)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(pic.FileContent.Content)" width="100" height="100" />
                                }
                            </div>
                        </div>                 
                    </div>
                </div>
            </div>

            <div class="accordion" id="engineerAccordion">

                <div class="accordion-Item">

                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                        <h3 class="Accordion-Header" id="engineerHeading">Engineering</h3>
                    </button>

                </div>

                <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#engineerAccordion">
                    <div class="accordion-body">

                        <div class="row my-md-3">
                            <div class="form-group col-md-4">
                                <label asp-for="EngPortion.EngReview" class="control-label"></label>
                                <select asp-for="EngPortion.EngReview" class="form-control" asp-items="@Html.GetEnumSelectList<EngReview>()" disabled></select>
                            </div>
                        </div>

                        <div class="row my-md-3">
                            <div class="form-group">
                                <label asp-for="EngPortion.Disposition" class="form-label"></label>
                                <textarea asp-for="EngPortion.Disposition" class="form-control" rows="10" cols="50" style="resize: none;" class="form-control" readonly></textarea>
                            </div>
                        </div>

                        <div class="row my-md-3">
                            <div class="form-group col-md-12 col-lg-4 mb-md-3 m-lg-0">
                                <label asp-for="EngPortion.Update" class="form-check-label mx-1"></label>
                                <input asp-for="EngPortion.Update" class="form-check-input" type="checkbox" disabled/>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="EngPortion.Notif" class="form-check-label mx-1"></label>
                                <input asp-for="EngPortion.Notif" class="form-check-input" type="checkbox" disabled/>
                            </div>
                        </div>

                        <div class="row my-md-3">
                            <div class="form-group col-md-4">
                                <label asp-for="EngPortion.OriginalRevNumber" class="control-label"></label>
                                <input type="number" asp-for="EngPortion.OriginalRevNumber" class="form-control" readonly/>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="EngPortion.RevNumber" class="control-label"></label>
                                <input type="number" asp-for="EngPortion.RevNumber" class="form-control" readonly/>
							</div>
                        </div>

                        <div class="row my-md-3">
                            <div class="form-group col-md-4">
                                <label asp-for="EngPortion.OriginalEngineer" class="control-label"></label>
                                <input asp-for="EngPortion.OriginalEngineer" class="form-control" readonly/>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="EngPortion.RevDate" class="control-label"></label>
                                <input asp-for="EngPortion.RevDate" class="form-control" value="" readonly/>
                            </div>
                        </div>

                        <div class="row my-md-3">
                            <div class="form-group col-md-4">
                                <label asp-for="EngPortion.RepID" class="control-label"></label>
                                <input asp-for="EngPortion.RepID" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="EngPortion.Date" class="control-label"></label>
                                <input asp-for="EngPortion.Date" class="form-control" readonly />
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" readonly/>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<NCRStatus>()" class="form-control" disabled></select>
            </div>

        </div>
    </section>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a onclick="window.close()" style="cursor:pointer" class="btn-link">Back to List</a>
</div>

@section Scripts{
    <script>
    $(function () {
        //Handle Print
        $("#print").on("click", function () {
            window.print();
        });
    })
</script>
}
