@using EntitiesLayer.Models
@using Plugins.DataStore.SQLite
@model EntitiesLayer.Models.ViewModels.NCRLogViewModel
@using Plugins.DataStore.SQLite
@model EntitiesLayer.Models.NCRLog
@inject NCRContext _context

@{
    ViewData["Title"] = "Edit";
    string? user = ViewData["User"] as string;
    bool isQualityAssurance = ViewBag.QASection == "enabled";
    bool isEngineer = ViewBag.EngineerSection == "enabled";
    bool isAdmin = ViewBag.IsAdmin;
    string supName = "";
    int a = 1;
}

<h1>Edit</h1>

<h4>NCRLog</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-2">
                <label asp-for="ID" class="control-label">NCR Number</label>
                <input asp-for="ID" class="form-control" readonly/>
            </div>

            <input type="hidden" asp-for="QualityPortionID" />
            <input type="hidden" asp-for="EngPortionID" />

            <div class="accordion" id="qualityAccordion">

                <div class="accordion-Item">

                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h3 class="Accordion-Header" id="qualityHeading">Quality Assurance</h3>
                     </button>

                </div>              

                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#qualityAccordion">
                    <div class="accordion-body">
                            <input type="hidden" asp-for="QualityPortion.ID" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                                  
                            <div class="form-group">
                                <label asp-for="QualityPortion.ProductID" class="control-label"></label>
                      
                                <select asp-for="QualityPortion.ProductID" id="productDDL" onchange="DisplaySup(this.options[this.options.selectedIndex].value)" class="form-control" asp-items="ViewBag.ProductID"></select>
                            </div>
                            <div id="supplierOutput" class="form-group">
                                <label asp-for="QualityPortion.Product.Supplier.SupplierName" class="control-label"></label>
                                <select id="mySelect" asp-items="ViewBag.SupplierID" class="form-control" disabled></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityPortion.Quantity" class="control-label"></label>
                                <input asp-for="QualityPortion.Quantity" class="form-control" />
                                <span asp-validation-for="QualityPortion.Quantity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityPortion.QuantityDefective" class="control-label"></label>
                                <input asp-for="QualityPortion.QuantityDefective" class="form-control" />
                                <span asp-validation-for="QualityPortion.QuantityDefective" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityPortion.OrderNumber" class="control-label"></label>
                                <input asp-for="QualityPortion.OrderNumber" class="form-control" />
                                <span asp-validation-for="QualityPortion.OrderNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityPortion.DefectDescription" class="control-label"></label>
                                <textarea asp-for="QualityPortion.DefectDescription" class="form-control" rows="4" cols="50"></textarea>
                                <span asp-validation-for="QualityPortion.DefectDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QualityPortion.RepID" class="control-label"></label>
                                <input asp-for="QualityPortion.RepID" class="form-control" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label class="control-label custom-file-label">Upload Pictures: </label>
                                <div>
                                    <input type="file" class="form-control" name="theFiles" multiple="multiple"
                                           onchange="document.getElementById('ImagePreview').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <img id="ImagePreview" src="" />
                            </div>                                          
                    </div>
                </div>
            </div>

            <div class="accordion" id="engineerAccordion">

                <div class="accordion-Item">

                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                        <h3 class="Accordion-Header" id="engineerHeading">Engineering</h3>
                    </button>

                </div>

                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#engineerAccordion">
                    <div class="accordion-body">
                        <div class="form-group">
                            <label asp-for="EngPortion.EngReview" class="control-label"></label>
                            <select asp-for="EngPortion.EngReview" class="form-control" asp-items="@Html.GetEnumSelectList<EngReview>()"></select>
                            <span asp-validation-for="EngPortion.EngReview" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EngPortion.Disposition" class="form-label"></label>
                            <textarea asp-for="EngPortion.Disposition" class="form-control" rows="4" cols="50" class="form-control"></textarea>
                            <span asp-validation-for="EngPortion.Disposition" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EngPortion.Update" class="form-check-label"></label>
                            <input asp-for="EngPortion.Update" class="form-check-input" type="checkbox" />
                            <span asp-validation-for="EngPortion.Update" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EngPortion.Notif" class="form-check-label"></label>
                            <input asp-for="EngPortion.Notif" class="form-check-input" type="checkbox" />
                            <span asp-validation-for="EngPortion.Notif" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EngPortion.RevNumber" class="control-label"></label>
                            <input type="number" asp-for="EngPortion.RevNumber" class="form-control" />
                            <span asp-validation-for="EngPortion.RevNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EngPortion.RevDate" class="control-label"></label>
                            <input asp-for="EngPortion.RevDate" class="form-control" value="" />
                            <span asp-validation-for="EngPortion.RevDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EngPortion.RepID" class="control-label"></label>
                            <input asp-for="EngPortion.RepID" class="form-control"/>
                            <span asp-validation-for="EngPortion.RepID" class="text-danger"></span>
                        </div>


                    </div>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<NCRStatus>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}           

    <script>

        function DisplaySup(supIndex){      
            document.getElementById('mySelect').selectedIndex = supIndex - 1;
        }


    </script>

}
