@model EntitiesLayer.Models.RoleRep

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoleRep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Representative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Representative.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoleRepID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
