@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (User.Identity.IsAuthenticated)
    {
        var twofactor = ViewData["TwoFactorEnabled"];
        if (twofactor != null && twofactor.ToString().ToLower() == "true")
        {
            <a asp-action="RemoveAuthenticator" asp-controller="Account" class="btn btn-warning"> Reset & Remove Two Factor Authentication</a>
        }
        else
        {
            <a class="mb-3" asp-controller="Account" asp-action="EnableAuthentication">Setup Two Factor Authentication</a>

        }
        var roles = User.Claims
        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
        .Select(c => c.Value)
        .ToList();
        <h2 class="text-success">Your Role(s): @string.Join(", ", roles)</h2>
    }

</div>